@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts/rebel-fonts.css";
@source "../content/**/*.mdx";
@source "../app/**/*.{js,jsx,ts,tsx,mdx}";
@source "../components/**/*.{js,jsx,ts,tsx}";

@theme {

  /* Fonts */
  --font-brand: var(--brand);
  --font-numbers: var(--numbers);
  --font-eyebrow: var(--eyebrow);
  --font-buttons: var(--buttons);
  --font-display: var(--display);
  --font-sans: var(--serif);
  --font-serif: var(--serif);
  --font-mono: var(--mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: oklch(1.0000 0 0);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--base-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Actions */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);

  /* Dark-Blue */
  --color-dark-blue: var(--primary-b000);
  --color-dark-blue-fade: var(--primary-l200);
  --color-dark-blue-inverse: var(--base-color-4-d100);
  --color-dark-blue-inverse-fade: var(--base-color-4-l200);

  --color-dark-blue-100: var(--primary-l400);
  --color-dark-blue-200: var(--primary-l300);
  --color-dark-blue-300: var(--primary-l200);
  --color-dark-blue-400: var(--primary-l100);
  --color-dark-blue-500: var(--primary-b000);
  --color-dark-blue-600: var(--primary-d100);
  --color-dark-blue-700: var(--primary-d200);
  --color-dark-blue-800: var(--primary-d300);
  --color-dark-blue-900: var(--primary-d400);

  --color-dark-blue-100-inverse: var(--base-color-4-d400);
  --color-dark-blue-200-inverse: var(--base-color-4-d300);
  --color-dark-blue-300-inverse: var(--base-color-4-d200);
  --color-dark-blue-400-inverse: var(--base-color-4-d100);
  --color-dark-blue-500-inverse: var(--base-color-4-b000);
  --color-dark-blue-600-inverse: var(--base-color-4-l100);
  --color-dark-blue-700-inverse: var(--base-color-4-l200);
  --color-dark-blue-800-inverse: var(--base-color-4-l300);
  --color-dark-blue-900-inverse: var(--base-color-4-l400);

  --color-blue-50: var(--primary-l500);
  --color-blue-100: var(--primary-l400);
  --color-blue-200: var(--primary-l300);
  --color-blue-300: var(--primary-l200);
  --color-blue-400: var(--primary-l100);
  --color-blue-500: var(--primary-b000);
  --color-blue-600: var(--primary-d100);
  --color-blue-700: var(--primary-d200);
  --color-blue-800: var(--primary-d300);
  --color-blue-900: var(--primary-d400);
  --color-blue-950: var(--primary-d500);

  /* {Dark-Green} */
  --color-dark-green: var(--base-color-1);
  --color-dark-green-fade: var(--base-color-1-fade);
  --color-dark-green-inverse: var(--base-color-1-inverse);
  --color-dark-green-inverse-fade: var(--base-color-1-inverse-fade);

  /* {Green} */
  --color-dark-green-100: var(--base-color-1-l400);
  --color-dark-green-200: var(--base-color-1-l300);
  --color-dark-green-300: var(--base-color-1-l200);
  --color-dark-green-400: var(--base-color-1-l100);
  --color-dark-green-500: var(--base-color-1-b000);
  --color-dark-green-600: var(--base-color-1-d100);
  --color-dark-green-700: var(--base-color-1-d200);
  --color-dark-green-800: var(--base-color-1-d300);
  --color-dark-green-900: var(--base-color-1-d400);

  --color-emerald-50: var(--base-color-1-l400);
  --color-emerald-100: var(--base-color-1-l400);
  --color-emerald-200: var(--base-color-1-l300);
  --color-emerald-300: var(--base-color-1-l200);
  --color-emerald-400: var(--base-color-1-l100);
  --color-emerald-500: var(--base-color-1-b000);
  --color-emerald-600: var(--base-color-1-d100);
  --color-emerald-700: var(--base-color-1-d200);
  --color-emerald-800: var(--base-color-1-d300);
  --color-emerald-900: var(--base-color-1-d400);
  --color-emerald-950: var(--base-color-1-l400);

  --color-dark-green-100-inverse: var(--base-color-9-d400);
  --color-dark-green-200-inverse: var(--base-color-9-d300);
  --color-dark-green-300-inverse: var(--base-color-9-d200);
  --color-dark-green-400-inverse: var(--base-color-9-d100);
  --color-dark-green-500-inverse: var(--base-color-9-b000);
  --color-dark-green-600-inverse: var(--base-color-9-l100);
  --color-dark-green-700-inverse: var(--base-color-9-l200);
  --color-dark-green-800-inverse: var(--base-color-9-l300);
  --color-dark-green-900-inverse: var(--base-color-9-l400);


  /* {Green} */
  --color-green: var(--base-color-2);
  --color-green-fade: var(--base-color-2-fade);
  --color-green-inverse: var(--base-color-2-inverse);
  --color-green-inverse-fade: var(--base-color-2-inverse-fade);

  --color-green-100: var(--base-color-2-l400);
  --color-green-200: var(--base-color-2-l300);
  --color-green-300: var(--base-color-2-l200);
  --color-green-400: var(--base-color-2-l100);
  --color-green-500: var(--base-color-2-b000);
  --color-green-600: var(--base-color-2-d100);
  --color-green-700: var(--base-color-2-d200);
  --color-green-800: var(--base-color-2-d300);
  --color-green-900: var(--base-color-2-d400);

  --color-teal-50: var(--base-color-2-l500);
  --color-teal-100: var(--base-color-2-l400);
  --color-teal-200: var(--base-color-2-l300);
  --color-teal-300: var(--base-color-2-l200);
  --color-teal-400: var(--base-color-2-l100);
  --color-teal-500: var(--base-color-2-b000);
  --color-teal-600: var(--base-color-2-d100);
  --color-teal-700: var(--base-color-2-d200);
  --color-teal-800: var(--base-color-2-d300);
  --color-teal-900: var(--base-color-2-d400);
  --color-teal-950: var(--base-color-2-d500);

  --color-green-100-inverse: var(--base-color-5-d400);
  --color-green-200-inverse: var(--base-color-5-d300);
  --color-green-300-inverse: var(--base-color-5-d200);
  --color-green-400-inverse: var(--base-color-5-d100);
  --color-green-500-inverse: var(--base-color-5-b000);
  --color-green-600-inverse: var(--base-color-5-l100);
  --color-green-700-inverse: var(--base-color-5-l200);
  --color-green-800-inverse: var(--base-color-5-l300);
  --color-green-900-inverse: var(--base-color-5-l400);

  /* {Light-Green} */
  --color-light-green: var(--base-color-3);
  --color-light-green-fade: var(--base-color-3-fade);
  --color-light-green-inverse: var(--base-color-3-inverse);
  --color-light-green-inverse-fade: var(--base-color-3-inverse-fade);

  --color-light-green-100: var(--base-color-3-l400);
  --color-light-green-200: var(--base-color-3-l300);
  --color-light-green-300: var(--base-color-3-l200);
  --color-light-green-400: var(--base-color-3-l100);
  --color-light-green-500: var(--base-color-3-b000);
  --color-light-green-600: var(--base-color-3-d100);
  --color-light-green-700: var(--base-color-3-d200);
  --color-light-green-800: var(--base-color-3-d300);
  --color-light-green-900: var(--base-color-3-d400);

  --color-lime-50: var(--base-color-3-l400);
  --color-lime-100: var(--base-color-3-l400);
  --color-lime-200: var(--base-color-3-l300);
  --color-lime-300: var(--base-color-3-l200);
  --color-lime-400: var(--base-color-3-l100);
  --color-lime-500: var(--base-color-3-b000);
  --color-lime-600: var(--base-color-3-d100);
  --color-lime-700: var(--base-color-3-d200);
  --color-lime-800: var(--base-color-3-d300);
  --color-lime-900: var(--base-color-3-d400);
  --color-lime-950: var(--base-color-3-d400);

  --color-light-green-100-inverse: var(--base-color-8-d400);
  --color-light-green-200-inverse: var(--base-color-8-d300);
  --color-light-green-300-inverse: var(--base-color-8-d200);
  --color-light-green-400-inverse: var(--base-color-8-d100);
  --color-light-green-500-inverse: var(--base-color-8-b000);
  --color-light-green-600-inverse: var(--base-color-8-l100);
  --color-light-green-700-inverse: var(--base-color-8-l200);
  --color-light-green-800-inverse: var(--base-color-8-l300);
  --color-light-green-900-inverse: var(--base-color-8-l400);

  /* Light-Blue */
  --color-light-blue: var(--base-color-4);
  --color-light-blue-fade: var(--base-color-4-inverse);
  --color-light-blue-inverse: var(--base-color-4-inverse);
  --color-light-blue-inverse-fade: var(--base-color-4-inverse-fade);

  --color-light-blue-100: var(--base-color-4-l400);
  --color-light-blue-200: var(--base-color-4-l300);
  --color-light-blue-300: var(--base-color-4-l200);
  --color-light-blue-400: var(--base-color-4-l100);
  --color-light-blue-500: var(--base-color-4-b000);
  --color-light-blue-600: var(--base-color-4-d100);
  --color-light-blue-700: var(--base-color-4-d200);
  --color-light-blue-800: var(--base-color-4-d300);
  --color-light-blue-900: var(--base-color-4-d400);

  --color-cyan-50: var(--base-color-4-l400);
  --color-cyan-100: var(--base-color-4-l400);
  --color-cyan-200: var(--base-color-4-l300);
  --color-cyan-300: var(--base-color-4-l200);
  --color-cyan-400: var(--base-color-4-l100);
  --color-cyan-500: var(--base-color-4-b000);
  --color-cyan-600: var(--base-color-4-d100);
  --color-cyan-700: var(--base-color-4-d200);
  --color-cyan-800: var(--base-color-4-d300);
  --color-cyan-900: var(--base-color-4-d400);
  --color-cyan-950: var(--base-color-4-d400);

  --color-light-blue-100-inverse: var(--primary-d400);
  --color-light-blue-200-inverse: var(--primary-d300);
  --color-light-blue-300-inverse: var(--primary-d200);
  --color-light-blue-400-inverse: var(--primary-d100);
  --color-light-blue-500-inverse: var(--primary-b000);
  --color-light-blue-600-inverse: var(--primary-l100);
  --color-light-blue-700-inverse: var(--primary-l200);
  --color-light-blue-800-inverse: var(--primary-l300);
  --color-light-blue-900-inverse: var(--primary-l400);

  /* {Yellow} */
  --color-yellow: var(--base-color-5);
  --color-yellow-fade: var(--base-color-5-fade);
  --color-yellow-inverse: var(--base-color-5-inverse);
  --color-yellow-inverse-fade: var(--base-color-5-inverse-fade);

  --color-yellow-100: var(--base-color-5-l400);
  --color-yellow-200: var(--base-color-5-l300);
  --color-yellow-300: var(--base-color-5-l200);
  --color-yellow-400: var(--base-color-5-l100);
  --color-yellow-500: var(--base-color-5-b000);
  --color-yellow-600: var(--base-color-5-d100);
  --color-yellow-700: var(--base-color-5-d200);
  --color-yellow-800: var(--base-color-5-d300);
  --color-yellow-900: var(--base-color-5-d400);

  --color-yellow-100-inverse: var(--primary-d400);
  --color-yellow-200-inverse: var(--primary-d300);
  --color-yellow-300-inverse: var(--primary-d200);
  --color-yellow-400-inverse: var(--primary-d100);
  --color-yellow-500-inverse: var(--primary-b000);
  --color-yellow-600-inverse: var(--primary-l100);
  --color-yellow-700-inverse: var(--primary-l200);
  --color-yellow-800-inverse: var(--primary-l300);
  --color-yellow-900-inverse: var(--primary-l400);

  /* {Orange} */
  --color-orange: var(--base-color-6);
  --color-orange-fade: var(--base-color-6-fade);
  --color-orange-inverse: var(--base-color-6-inverse);
  --color-orange-inverse-fade: var(--base-color-6-inverse-fade);

  --color-orange-50: var(--base-color-6-l500);
  --color-orange-100: var(--base-color-6-l400);
  --color-orange-200: var(--base-color-6-l300);
  --color-orange-300: var(--base-color-6-l200);
  --color-orange-400: var(--base-color-6-l100);
  --color-orange-500: var(--base-color-6-b000);
  --color-orange-600: var(--base-color-6-d100);
  --color-orange-700: var(--base-color-6-d200);
  --color-orange-800: var(--base-color-6-d300);
  --color-orange-900: var(--base-color-6-d400);
  --color-orange-950: var(--base-color-6-d400);

  --color-orange-100-inverse: var(--primary-l400);
  --color-orange-200-inverse: var(--primary-l300);
  --color-orange-300-inverse: var(--primary-l200);
  --color-orange-400-inverse: var(--primary-l100);
  --color-orange-500-inverse: var(--primary-b000);
  --color-orange-600-inverse: var(--primary-d100);
  --color-orange-700-inverse: var(--primary-d200);
  --color-orange-800-inverse: var(--primary-d300);
  --color-orange-900-inverse: var(--primary-d400);

  /* {Red} */
  --color-red: var(--base-color-7);
  --color-red-fade: var(--base-color-7-fade);
  --color-red-inverse: var(--base-color-7-inverse);
  --color-red-inverse-fade: var(--base-color-7-inverse-fade);

  --color-red-50: var(--base-color-7-l500);
  --color-red-100: var(--base-color-7-l400);
  --color-red-200: var(--base-color-7-l300);
  --color-red-300: var(--base-color-7-l200);
  --color-red-400: var(--base-color-7-l100);
  --color-red-500: var(--base-color-7-b000);
  --color-red-600: var(--base-color-7-d100);
  --color-red-700: var(--base-color-7-d200);
  --color-red-800: var(--base-color-7-d300);
  --color-red-900: var(--base-color-7-d400);
  --color-red-950: var(--base-color-7-l500);

  --color-red-100-inverse: var(--base-color-4-d400);
  --color-red-200-inverse: var(--base-color-4-d300);
  --color-red-300-inverse: var(--base-color-4-d200);
  --color-red-400-inverse: var(--base-color-4-d100);
  --color-red-500-inverse: var(--base-color-4-b000);
  --color-red-600-inverse: var(--base-color-4-l100);
  --color-red-700-inverse: var(--base-color-4-l200);
  --color-red-800-inverse: var(--base-color-4-l300);
  --color-red-900-inverse: var(--base-color-4-l400);

  /* {Purple} */
  --color-purple: var(--base-color-8);
  --color-purple-fade: var(--base-color-8-fade);
  --color-purple-inverse: var(--base-color-8-inverse);
  --color-purple-inverse-fade: var(--base-color-8-inverse-fade);

  --color-purple-50: var(--base-color-8-l500);
  --color-purple-100: var(--base-color-8-l400);
  --color-purple-200: var(--base-color-8-l300);
  --color-purple-300: var(--base-color-8-l200);
  --color-purple-400: var(--base-color-8-l100);
  --color-purple-500: var(--base-color-8-b000);
  --color-purple-600: var(--base-color-8-d100);
  --color-purple-700: var(--base-color-8-d200);
  --color-purple-800: var(--base-color-8-d300);
  --color-purple-900: var(--base-color-8-d400);
  --color-purple-950: var(--base-color-8-d500);

  --color-purple-100-inverse: var(--base-color-3-d400);
  --color-purple-200-inverse: var(--base-color-3-d300);
  --color-purple-300-inverse: var(--base-color-3-d200);
  --color-purple-400-inverse: var(--base-color-3-d100);
  --color-purple-500-inverse: var(--base-color-3-b000);
  --color-purple-600-inverse: var(--base-color-3-l100);
  --color-purple-700-inverse: var(--base-color-3-l200);
  --color-purple-800-inverse: var(--base-color-3-l300);
  --color-purple-900-inverse: var(--base-color-3-l400);

  /* {Smoke} */
  --color-smoke: var(--base-color-9);
  --color-smoke-fade: var(--base-color-9-fade);
  --color-smoke-inverse: var(--base-color-9-inverse);
  --color-smoke-inverse-fade: var(--base-color-9-inverse-fade);

  --color-smoke-100: var(--base-color-9-l400);
  --color-smoke-200: var(--base-color-9-l300);
  --color-smoke-300: var(--base-color-9-l200);
  --color-smoke-400: var(--base-color-9-l100);
  --color-smoke-500: var(--base-color-9-b000);
  --color-smoke-600: var(--base-color-9-d100);
  --color-smoke-700: var(--base-color-9-d200);
  --color-smoke-800: var(--base-color-9-d300);
  --color-smoke-900: var(--base-color-9-d400);

  --color-slate-50: var(--base-color-9-b000);
  --color-slate-100: var(--base-color-9-l400);
  --color-slate-200: var(--base-color-9-l300);
  --color-slate-300: var(--base-color-9-l200);
  --color-slate-400: var(--base-color-9-l100);
  --color-slate-500: var(--base-color-9-b000);
  --color-slate-600: var(--base-color-9-d100);
  --color-slate-700: var(--base-color-9-d200);
  --color-slate-800: var(--base-color-9-d300);
  --color-slate-900: var(--base-color-9-d400);
  --color-slate-950: var(--base-color-9-d400);

  /* {Greys} */
  --color-grey-100: var(--base-grey-l700);
  --color-grey-150: var(--base-grey-l600);
  --color-grey-200: var(--base-grey-l500);
  --color-grey-250: var(--base-grey-l400);
  --color-grey-300: var(--base-grey-l300);
  --color-grey-350: var(--base-grey-l200);
  --color-grey-400: var(--base-grey-l100);
  --color-grey-450: var(--base-grey-d100);
  --color-grey-500: var(--base-grey-d200);
  --color-grey-550: var(--base-grey-d200);
  --color-grey-600: var(--base-grey-d400);
  --color-grey-650: var(--base-grey-d500);
  --color-grey-700: var(--base-grey-d600);
  --color-grey-750: var(--base-grey-d700);
  --color-grey-800: var(--base-grey-d800);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Computed Shadow Variants */
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* Radius */
  --radius-xs: .25rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* Letter Spacing */
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  --animate-heartbeat: heartbeat 2s infinite ease-in-out;

  --spacing-xxs: .5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 2rem;
  --spacing-md: 3rem;
  --spacing-lg: 4rem;
  --spacing-xl: 6rem;
  --spacing-xxl: 8rem;

  --color-opacity-25: color-mix(in oklch, var(--dark-blue), transparent 75%);
  --color-opacity-50: color-mix(in oklch, var(--dark-blue), transparent 50%);
  --color-opacity-75: color-mix(in oklch, var(--dark-blue), transparent 25%);

  --table-foreground: var(--color-dark-blue);
  --table-background: oklch(1.0000 0 0);
  --blockquote-accent: #666666;

  --blockquote-foreground: var(--color-green);
  --blockquote-background: #f3f3f3;
  --blockquote-accent: var(--color-light-green);

  --code-foreground: oklch(1.0000 0 0);
  --code-background: var(--color-dark-blue);
  --code-accent: var(--color-smoke);
  --code-accent-background: var(--color-dark-blue);

  @keyframes heartbeat {
    0%, 19%, 38%, 100% {
      transform: scale(1);
    }

    9%, 28% {
      transform: scale(1.05);
    }
  }

  @keyframes rainbow {
    0% {
      color: var(--color-red);
    }

    14% {
      color: var(--color-orange);
    }

    28% {
      color: var(--color-yellow);
    }

    42% {
      color: var(--color-green);
    }

    57% {
      color: var(--color-light-blue);
    }

    71% {
      color: var(--color-dark-blue);
    }

    85% {
      color: var(--color-purple);
    }

    100% {
      color: var(--color-red);
    }
  }

}

:root {
  /* Fonts */
  --brand: "Barlow", sans-serif;
  --display: "Khand", ui-sans-serif, sans-serif, system-ui;
  --numbers: "Funnel Sans", sans-serif;
  --eyebrow: "Supreme", "Segoe UI Variable", "Segoe UI", "Aptos", "Calibri", "Arial", sans-serif;
  --buttons: "Khand", ui-sans-serif, sans-serif, system-ui;
  --sans: "Khand", ui-sans-serif, sans-serif, system-ui;
  --serif: "Roboto", ui-sans-serif, sans-serif, system-ui;
  --mono: "Fira Code", ui-monospace, monospace;

  /* Core Primaries */
  --background: oklch(98.511% 0.00011 271.152);
  --foreground: oklch(0.3373 0.0925 258.5200);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3373 0.0925 258.5200);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3373 0.0925 258.5200);
  --primary: oklch(0.3373 0.0925 258.5200);
  --primary-foreground: oklch(0.9659 0.0065 208.7829);
  --secondary: oklch(0.8642 0.1141 79.7487);
  --secondary-foreground: oklch(0.3373 0.0925 258.5200);
  --muted: oklch(0.8463 0.0383 219.9626);
  --muted-foreground: oklch(0.3373 0.0925 258.5200);

  /* Core Primaries */
  --accent: oklch(0.7170 0.1537 37.7036);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6254 0.1812 27.1628);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3373 0.0925 258.5200);
  --input: oklch(0.8463 0.0383 219.9626);
  --ring: oklch(0.3373 0.0925 258.5200);

  /* Charts */
  --chart-1: oklch(0.8300 0.0400 219.3500);
  --chart-2: oklch(0.8400 0.1400 85.2100);
  --chart-3: oklch(0.6600 0.1800 44.7300);
  --chart-4: oklch(0.5500 0.2100 32);
  --chart-5: oklch(0.4500 0.1400 340.2100);
  --chart-6: oklch(52% 0.10 230.09);
  --chart-7: oklch(65% 0.12 219.43);
  --chart-8: oklch(78% 0.11 195.12);

  /* Sidebar */
  --sidebar: oklch(96.591% 0.00658 209.632);
  --sidebar-foreground: oklch(0.3373 0.0925 258.5200);
  --sidebar-primary: oklch(0.3373 0.0925 258.5200);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8463 0.0383 219.9626);
  --sidebar-accent-foreground: oklch(0.3373 0.0925 258.5200);
  --sidebar-border: oklch(0.3373 0.0925 258.5200);
  --sidebar-ring: oklch(0.3373 0.0925 258.5200);

  /* Radius */
  --radius: 0.1rem;
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* {Dark-Blue} */
  --base-primary: oklch(0.3373 0.0925 258.5200);
  --base-primary-fade: oklch(61.56% 0.0494 258.73);
  --base-primary-inverse: oklch(83% 0.04 220);
  --base-primary-inverse-fade: oklch(86.40% 0.032 220);

  /* {Dark-Green} */
  --base-color-1: oklch(54.28% 0.0982 220.31);
  --base-color-1-fade: oklch(71.63% 0.0762 214.60);
  --base-color-1-inverse: oklch(96% 0.01 210);
  --base-color-1-inverse-fade: oklch(86.40% 0.009 210);

  /* {Green} */
  --base-color-2: oklch(66.27% 0.114 206.90);
  --base-color-2-fade: oklch(78.23% 0.094 203.21);
  --base-color-2-inverse: oklch(84% 0.14 85.21);
  --base-color-2-inverse-fade: oklch(94.00% 0.050 85.21);

  /* {Light-Green} */
  --base-color-3: #71c9c5;
  --base-color-3-fade: oklch(86.35% 0.054 193.29);
  --base-color-3-inverse: oklch(45% 0.14 340);
  --base-color-3-inverse-fade: oklch(56.00% 0.112 340);

  /* {Light-Blue} */
  --base-color-4: oklch(83% 0.04 220);
  --base-color-4-fade: oklch(90.61% 0.023 220.74);
  --base-color-4-inverse: oklch(27% 0.09 254.40);
  --base-color-4-inverse-fade: oklch(61.56% 0.0494 258.73);

  /* {Yellow} */
  --base-color-5: oklch(84% 0.14 85.21);
  --base-color-5-fade: oklch(94.00% 0.050 85.21);
  --base-color-5-inverse: oklch(27% 0.09 254.40);
  --base-color-5-inverse-fade: oklch(61.56% 0.0494 258.73);

  /* {Orange} */
  --base-color-6: oklch(66% 0.18 45);
  --base-color-6-fade: oklch(82.08% 0.088 38.17);
  --base-color-6-inverse: oklch(27% 0.09 254.40);
  --base-color-6-inverse-fade: oklch(61.56% 0.0494 258.73);

  /* {Red} */
  --base-color-7: oklch(55% 0.21 32);
  --base-color-7-fade: oklch(68.73% 0.144 25.60);
  --base-color-7-inverse: oklch(83% 0.04 220);
  --base-color-7-inverse-fade: oklch(90.61% 0.023 220.74);

  /* {Purple} */
  --base-color-8: oklch(45% 0.14 340);
  --base-color-8-fade: oklch(69.83% 0.061 347.29);
  --base-color-8-inverse: oklch(77.98% 0.085 191.74);
  --base-color-8-inverse-fade: oklch(86.35% 0.054 193.29);

  /* {Smoke} */
  --base-color-9: oklch(96% 0.01 210);
  --base-color-9-fade: oklch(96.96% 0.005 212.02 / 0.5);
  --base-color-9-inverse: oklch(27% 0.09 254.40);
  --base-color-9-inverse-fade: oklch(61.56% 0.0494 258.73);

  /* Sidebar */
  --sidebar: oklch(96% 0 0);
  --sidebar-foreground: oklch(27% 0.09 254.40);
  --sidebar-primary: oklch(27% 0.09 254.40);
  --sidebar-primary-foreground: oklch(83% 0.04 220);
  --sidebar-accent: oklch(65% 0.12 219.43);
  --sidebar-accent-foreground: oklch(84% 0.14 85);
  --sidebar-border: oklch(96% 0 0);
  --sidebar-ring: oklch(78% 0.11 195.12);

  /* {Dark-Blue-Color-Range */
  /* prettier-ignore */
  --primary-l500: oklch(68.50% 0.0399 258.40);
  /* #8b9bb3 */
  --primary-l400: oklch(61.56% 0.0494 258.73);
  /* #7386a3 */
  --primary-l300: oklch(54.80% 0.0595 258.95);
  /* #5c7294 */
  --primary-l200: oklch(47.91% 0.0703 259.06);
  /* #455e85 */
  --primary-l100: oklch(40.78% 0.0807 258.08);
  /* #2d4a75 */
  --primary-b000: oklch(33.73% 0.0925 258.52);
  /* #163666 */
  --primary-d100: oklch(31.65% 0.0845 258.31);
  /* #14315c */
  --primary-d200: oklch(29.28% 0.0776 259.05);
  /* #122b52 */
  --primary-d300: oklch(27.00% 0.0681 257.71);
  /* #0f2647 */
  --primary-d400: oklch(24.53% 0.0608 258.67);
  /* #0d203d */
  --primary-d500: oklch(22.28% 0.0519 258.36);
  /* #0b1b33 */

  /* {Dark-Green-Color-Range */
  /* prettier-ignore */
  --base-color-1-l400: oklch(71.63% 0.0762 214.60);
  /* #68b0c1 */
  --base-color-1-l300: oklch(67.07% 0.0856 214.58);
  /* #4fa3b6 */
  --base-color-1-l200: oklch(62.66% 0.0933 215.98);
  /* #3696ac */
  --base-color-1-l100: oklch(58.35% 0.0973 217.21);
  /* #1d89a1 */
  --base-color-1-b000: oklch(54.28% 0.0982 220.31);
  /* #047c97 */
  --base-color-1-d100: oklch(50.44% 0.0907 219.77);
  /* #047088 */
  --base-color-1-d200: oklch(46.26% 0.0835 220.24);
  /* #036379 */
  --base-color-1-d300: oklch(42.26% 0.0757 219.56);
  /* #03576a */
  --base-color-1-d400: oklch(37.87% 0.0682 220.12);
  /* #024a5b */

  /* {Green-Color-Range */
  /* prettier-ignore */
  --base-color-2-l500: oklch(81.68% 0.081 203.65);
  /* #80d3db */
  --base-color-2-l400: oklch(78.23% 0.094 203.21);
  /* #66cad3 */
  --base-color-2-l300: oklch(74.99% 0.104 203.94);
  /* #4dc1cc */
  --base-color-2-l200: oklch(71.90% 0.111 204.81);
  /* #33b8c5 */
  --base-color-2-l100: oklch(68.97% 0.114 205.27);
  /* #19afbd */
  --base-color-2-b000: oklch(66.27% 0.114 206.90);
  /* #00a6b6 */
  --base-color-2-d100: oklch(61.23% 0.105 207.31);
  /* #0095a4 */
  --base-color-2-d200: oklch(56.35% 0.097 206.84);
  /* #008592 */
  --base-color-2-d300: oklch(51.06% 0.087 206.33);
  /* #00747f */
  --base-color-2-d400: oklch(45.94% 0.079 205.57);
  /* #00646d */
  --base-color-2-d500: oklch(40.38% 0.069 206.07);
  /* #00535b */

  /* {Light-Green-Color-Range */
  /* prettier-ignore */
  --base-color-3-l400: oklch(86.35% 0.054 193.29);
  /* #a9dedc */
  --base-color-3-l300: oklch(84.26% 0.063 192.24);
  /* #9bd9d6 */
  --base-color-3-l200: oklch(81.97% 0.070 192.45);
  /* #8dd3d0 */
  --base-color-3-l100: oklch(79.94% 0.078 191.58);
  /* #7fceca */
  --base-color-3-b000: oklch(77.98% 0.085 191.74);
  /* #71c9c5 */
  --base-color-3-d100: oklch(71.86% 0.078 192.37);
  /* #65b4b1 */
  --base-color-3-d200: oklch(65.90% 0.071 191.99);
  /* #5aa09d */
  --base-color-3-d300: oklch(59.81% 0.064 191.50);
  /* #4f8c89 */
  --base-color-3-d400: oklch(53.53% 0.057 192.45);
  /* #437876 */

  /* {Light-Blue-Color-Range */
  /* prettier-ignore */
  --base-color-4-l400: oklch(90.61% 0.023 220.74);
  /* #d0e4eb */
  --base-color-4-l300: oklch(89.18% 0.026 217.96);
  /* #c9e0e7 */
  --base-color-4-l200: oklch(87.50% 0.030 220.61);
  /* #c1dbe4 */
  --base-color-4-l100: oklch(86.03% 0.035 219.90);
  /* #b9d7e1 */
  --base-color-4-b000: oklch(84.63% 0.038 219.96);
  /* #B2D3dE */
  --base-color-4-d100: oklch(78.00% 0.035 220.66);
  /* #a0bdc7 */
  --base-color-4-d200: oklch(71.47% 0.032 220.74);
  /* #8ea8b1 */
  --base-color-4-d300: oklch(64.80% 0.029 220.85);
  /* #7c939b */
  --base-color-4-d400: oklch(57.94% 0.025 221.09);
  /* #6a7e85 */

  /* {Yellow-Color-Range */
  /* prettier-ignore */
  --base-color-5-l400: oklch(94.00% 0.050 85.21);
  /* #fbe9c6 */
  --base-color-5-l300: oklch(91.00% 0.070 85.21);
  /* #f7dfac */
  --base-color-5-l200: oklch(88.04% 0.100 85.13);
  /* #f6d389 */
  --base-color-5-l100: oklch(86.00% 0.120 85.21);
  /* #f5cb70 */
  --base-color-5-b000: oklch(86.42% 0.114 79.75);
  /* #faca78 */
  --base-color-5-d100: oklch(79.71% 0.105 79.05);
  /* #e1b56c */
  --base-color-5-d200: oklch(73.06% 0.095 79.20);
  /* #c8a160 */
  --base-color-5-d300: oklch(66.25% 0.086 79.38);
  /* #af8d54 */
  --base-color-5-d400: oklch(59.27% 0.076 79.62);
  /* #967948 */

  /* {Orange-Color-Range */
  /* prettier-ignore */
  --base-color-6-l500: oklch(85.02% 0.072 37.58);
  /* #f9beac */
  --base-color-6-l400: oklch(82.08% 0.088 38.17);
  /* #f7b19b */
  --base-color-6-l300: oklch(79.32% 0.105 38.34);
  /* #f6a48a */
  --base-color-6-l200: oklch(76.67% 0.121 37.91);
  /* #f5977a */
  --base-color-6-l100: oklch(74.11% 0.138 38.05);
  /* #f48a69 */
  --base-color-6-b000: oklch(71.70% 0.154 37.70);
  /* #f37d59 */
  --base-color-6-d100: oklch(66.16% 0.141 37.56);
  /* #da7050 */
  --base-color-6-d200: oklch(60.80% 0.128 37.87);
  /* #c26447 */
  --base-color-6-d300: oklch(55.16% 0.115 37.54);
  /* #aa573e */
  --base-color-6-d400: oklch(49.39% 0.101 38.16);
  /* #914b35 */
  --base-color-6-d500: oklch(43.77% 0.087 37.71);
  /* #7a3f2d */

  /* {Red-Color-Range */
  /* prettier-ignore */
  --base-color-7-l500: oklch(79.91% 0.085 23.54);
  /* #f0a8a3 */
  --base-color-7-l400: oklch(75.89% 0.105 24.16);
  /* #ec9690 */
  --base-color-7-l300: oklch(72.15% 0.125 24.22);
  /* #e9847e */
  --base-color-7-l200: oklch(68.73% 0.144 25.60);
  /* #e6736b */
  --base-color-7-l100: oklch(65.42% 0.164 26.11);
  /* #e36159 */
  --base-color-7-b000: oklch(62.54% 0.181 27.16);
  /* #e05047 */
  --base-color-7-d100: oklch(57.79% 0.166 27.45);
  /* #c9483f */
  --base-color-7-d200: oklch(53.12% 0.151 27.38);
  /* #b34038 */
  --base-color-7-d300: oklch(48.18% 0.135 27.29);
  /* #9c3831 */
  --base-color-7-d400: oklch(43.29% 0.119 27.17);
  /* #86302a */
  --base-color-7-d500: oklch(38.27% 0.103 26.25);
  /* #702824 */

  /* {Purple-Color-Range */
  /* prettier-ignore */
  --base-color-8-l500: oklch(75.12% 0.050 345.99);
  /* #c7a2b5 */
  --base-color-8-l400: oklch(69.83% 0.061 347.29);
  /* #bb8fa5 */
  --base-color-8-l300: oklch(64.53% 0.072 347.34);
  /* #af7c96 */
  --base-color-8-l200: oklch(59.51% 0.083 348.54);
  /* #a46a87 */
  --base-color-8-l100: oklch(54.32% 0.096 349.45);
  /* #995778 */
  --base-color-8-b000: oklch(49.40% 0.108 350.12);
  /* #8e456a */
  --base-color-8-d100: oklch(45.74% 0.099 349.97);
  /* #7f3e5f */
  --base-color-8-d200: oklch(42.15% 0.090 350.34);
  /* #713754 */
  --base-color-8-d300: oklch(38.53% 0.081 349.71);
  /* #63304a */
  --base-color-8-d400: oklch(34.77% 0.071 350.15);
  /* #55293f */
  --base-color-8-d500: oklch(31.14% 0.060 349.81);
  /* #472335 */

  /* {Smok-Color-Range */
  /* prettier-ignore */
  --base-color-9-l400: oklch(97.93% 0.004 215.51);
  /* #f5f9fa */
  --base-color-9-l300: oklab(97.63% -0.003 -0.00);
  /* #f4f8f9 */
  --base-color-9-l200: oklch(97.26% 0.005 212.03);
  /* #f2f7f8 */
  --base-color-9-l100: oklch(96.96% 0.005 212.02);
  /* #f1f6f7 */
  --base-color-9-b000: oklch(96.59% 0.006 209.63);
  /* #eff5f6 */
  --base-color-9-d100: oklch(89.29% 0.006 197.89);
  /* #d7dddd */
  --base-color-9-d200: oklch(81.66% 0.005 211.84);
  /* #bfc4c5 */
  --base-color-9-d300: oklch(74.04% 0.005 197.84);
  /* #a7acac */
  --base-color-9-d400: oklch(66.02% 0.004 215.06);
  /* #8f9394 */

  /* Grey-Color-Range */
  /* prettier-ignore */
  --base-grey-l700: oklch(95.0% 0.009 254);
  --base-grey-l600: oklch(90.0% 0.008 254);
  --base-grey-l500: oklch(85.0% 0.007 254);
  --base-grey-l400: oklch(80.0% 0.006 254);
  --base-grey-l300: oklch(75.0% 0.005 254);
  --base-grey-l200: oklch(70.0% 0.004 254);
  --base-grey-l100: oklch(65.0% 0.003 254);
  --base-grey-d100: oklch(60.0% 0.002 254);
  --base-grey-d200: oklch(55.0% 0.001 254);
  --base-grey-d300: oklch(50.0% 0.000 254);
  --base-grey-d400: oklch(45.0% 0.001 254);
  --base-grey-d500: oklch(40.0% 0.002 254);
  --base-grey-d600: oklch(35.0% 0.003 254);
  --base-grey-d700: oklch(40.0% 0.004 254);
  --base-grey-d800: oklch(45.0% 0.005 254);


  --shadow-sm: 0.95px .5px 0 currentColor, 1.45px 1px 0 currentColor, 1.95px 1.5px 0 currentColor, 2.45px 2px 0 currentColor, 2.95px 2.5px 0 currentColor, 3.45px 3px 0 currentColor, 3.95px 3.5px 0 currentColor;

  --shadow-md: 0.95px .5px 0 currentColor, 1.45px 1px 0 currentColor, 1.95px 1.5px 0 currentColor, 2.45px 2px 0 currentColor, 2.95px 2.5px 0 currentColor, 3.45px 3px 0 currentColor, 3.95px 3.5px 0 currentColor, 4.45px 4px 0 currentColor;

  --shadow: 0.95px .5px 0 currentColor, 1.45px 1px 0 currentColor, 1.95px 1.5px 0 currentColor, 2.45px 2px 0 currentColor, 2.95px 2.5px 0 currentColor, 3.45px 3px 0 currentColor, 3.95px 3.5px 0 currentColor, 4.45px 4px 0 currentColor, currentColor, 4.95px 4.5px 0 currentColor, 5.45px 5px 0;

  --shadow-lg: 0.95px .5px 0 currentColor, 1.45px 1px 0 currentColor, 1.95px 1.5px 0 currentColor, 2.45px 2px 0 currentColor, 2.95px 2.5px 0 currentColor, 3.45px 3px 0 currentColor, 3.95px 3.5px 0 currentColor, 4.45px 4px 0 currentColor, 4.95px 4.5px 0 currentColor, 5.45px 5px 0 currentColor, 5.95px 5.5px 0 currentColor, 6.45px 6px 0 currentColor, 6.95px 6.5px 0 currentColor, 7.45px 7px 0 currentColor, 7.95px 7.5px 0 currentColor, 8.45px 8px 0;

  --shadow-xl: 0.95px .5px 0 currentColor, 1.45px 1px 0 currentColor, 1.95px 1.5px 0 currentColor, 2.45px 2px 0 currentColor, 2.95px 2.5px 0 currentColor, 3.45px 3px 0 currentColor, 3.95px 3.5px 0 currentColor, 4.45px 4px 0 currentColor, 4.95px 4.5px 0 currentColor, 5.45px 5px 0 currentColor, 5.95px 5.5px 0 currentColor, 6.45px 6px 0 currentColor, 6.95px 6.5px 0 currentColor, 7.45px 7px 0 currentColor, 7.95px 7.5px 0 currentColor, 8.45px 8px 0 currentColor, 8.95px 8.5px 0 currentColor, 9.45px 9px 0 currentColor, 9.95px 9.5px 0 currentColor, 10.45px 10px 0 currentColor;


}


@layer utilities {

  .card-dark-blue {
    background-color: var(--base-primary);
    border-color: var(--base-primary);
    color: var(--base-primary-inverse);
    box-shadow: var(--shadow);
  }

  .card-dark-green {
    background-color: var(--base-color-1);
    border-color: var(--base-color-1);
    color: var(--base-color-1-inverse);
    box-shadow: var(--shadow);
  }

  .card-orange {
    background-color: var(--base-color-6);
    border-color: var(--base-color-6);
    color: var(--base-color-6-inverse);
    box-shadow: var(--shadow);
  }

  .card-red {
    background-color: var(--base-color-7);
    border-color: var(--base-color-7);
    color: var(--base-color-7-inverse);
    box-shadow: var(--shadow);
  }

  .card-purple {
    background-color: var(--base-color-8);
    border-color: var(--base-color-8);
    color: var(--base-color-8-inverse);
    box-shadow: var(--shadow);
  }

  .tag-smoke {
    background-color: var(--base-color-9);
    border-color: var(--base-color-9);
    color: var(--base-color-9-inverse);
    box-shadow: var(--shadow);
  }

  .bg-primary {
    background-color: var(--base-primary);
    border-color: var(--base-primary)
  }

  .bg-dark-green {
    background-color: var(--base-color-1);
    border-color: var(--base-color-1)
  }

  .bg-green {
    background-color: var(--base-color-2);
    border-color: var(--base-color-2)
  }

  .bg-light-green {
    background-color: var(--base-color-3);
    border-color: var(--base-color-3)
  }

  .bg-light-blue {
    background-color: var(--base-color-4);
    border-color: var(--base-color-4)
  }

  .bg-yellow {
    background-color: var(--base-color-5);
    border-color: var(--base-color-5)
  }

  .bg-orange {
    background-color: var(--base-color-6);
    border-color: var(--base-color-6)
  }

  .bg-red {
    background-color: var(--base-color-7);
    border-color: var(--base-color-7)
  }

  .bg-purple {
    background-color: var(--base-color-8);
    border-color: var(--base-color-8)
  }

  .bg-smoke {
    background-color: var(--base-color-9);
    border-color: var(--base-color-9)
  }

  .tag {
    align-self: center;
    flex: 0 0 auto;
    font-family: var(--font-display);
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .025em;
    line-height: 1;
    padding: .25em .5em .35em;
    text-transform: uppercase
  }

  .is-outline {
    border-style: solid;
    border-width: 3px
  }

  .tag-primary {
    background-color: var(--primary-inverse);
    border-color: var(--primary);
    border: 4px solid var(--primary)
  }

  .tag.bg-primary.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: auto
  }

  .tag-dark-green {
    background-color: var(--base-color-1);
    border: 4px solid var(--base-color-1);
    color: var(--base-color-1-inverse);
    text-overflow: clip
  }

  .tag-dark-green.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: auto
  }

  .tag-green {
    background-color: var(--base-color-2);
    border: 4px solid var(--base-color-2);
    color: var(--base-color-2-inverse)
  }

  .tag-green.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-light-green {
    background-color: var(--base-color-3);
    border: 4px solid var(--base-color-3);
    color: var(--base-color-3-inverse)
  }

  .tag-light-green.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-light-blue {
    background-color: var(--base-color-4);
    border: 4px solid var(--base-color-4);
    color: var(--base-color-4-inverse)
  }

  .tag-light-blue.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-yellow {
    background-color: var(--base-color-5);
    border: 4px solid var(--base-color-5);
    color: var(--base-color-5-inverse)
  }

  .tag-yellow.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-orange {
    background-color: var(--base-color-6);
    border: 4px solid var(--base-color-6);
    color: var(--base-color-6-inverse);
  }

  .tag-orange.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-red {
    background-color: var(--base-color-7);
    border: 4px solid var(--base-color-7);
    color: var(--base-color-7-inverse)
  }

  .tag-red.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-purple {
    background-color: var(--base-color-8);
    border: 4px solid var(--base-color-8);
    color: var(--base-color-8-inverse)
  }

  .tag-purple.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .tag-smoke {
    background-color: var(--base-color-9);
    border: 4px solid var(--base-color-9);
    color: var(--base-color-9-inverse)
  }

  .tag-smoke.is-outline {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
  }

  .jsx-text {
    color: var(--color-primary) !important;
  }

  .jsx-tag-angle-bracket {
    color: var(--color-green) !important;
  }

  .jsx-tag-name {
    color: var(--base-color-7) !important;
  }

  .jsx-tag-attribute-key {
    color: var(--color-yellow) !important;
  }

  .jsx-expression-braces {
    color: var(--color-purple-200) !important;
  }

  .dark .jsx-text {
    color: var(--color-purple) !important;
  }

  .dark .jsx-tag-angle-bracket {
    color: var(--base-grey-l200) !important;
  }

  .dark .jsx-tag-name {
    color: var(--color-red-700) !important;
  }

  .dark .jsx-tag-attribute-key {
    color: var(--color-red-700) !important;
  }

  .dark .jsx-expression-braces {
    color: var(--color-red-900) !important;
  }

}


@layer components {}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  :where(h1) {
    font-family: "Khand", ui-sans-serif, system-ui, sans-serif !important;
    text-transform: uppercase;
    color: var(--color-primary) !important;
  }

  :where(h2, h3, h4, h5, h6) {
    font-family: "Khand", ui-sans-serif, system-ui, sans-serif !important;
    text-transform: uppercase;
    color: var(--color-primary) !important;
    letter-spacing: var(--tracking-wide) !important;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@utility border-standard {
  border-width: 1px;
  border-color: oklch(0.3373 0.0925 258.5200);

  &:is(.dark *) {
    border-color: oklch(0.9659 0.0065 208.7829);
  }
}

@utility overflow-wrap-anywhere {
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}


p {
  margin: 0.5em 0;
  line-height: 1.25em;
}

p+p {
  margin-top: 20px;
}


.focus-visible,
.nextra-focus,
#active,
active,
.active {
  color: var(--color-dark-green);
  background-color: var(--color-yellow)
}

a {
  color: var(--foreground) !important;
  text-decoration: none;
}

a:hover {
  color: var(--color-green) !important;
  text-decoration: underline;
}

main table,
article table {
  display: table !important;
  width: 100% !important;
  overflow-x: auto;
  border-collapse: collapse !important;
  border: 2px solid var(--table-foreground) !important;
  background-color: var(--table-background) !important;
  box-shadow: none !important;
}

main table th,
article table th {
  font-family: var(--font-sans) !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  border: 2px solid var(--table-foreground) !important;
  padding: 0.2em 1em !important;
  color: var(--foreground) !important;
  background-color: var(--table-background) !important;
}

main table td,
article table td {
  padding: 0.5em 1em !important;
  color: var(--table-foreground) !important;
  background-color: var(--table-background) !important;
  border: 2px solid var(--table-foreground) !important;
}

main pre,
article pre {
  margin: 1em 0 !important;
  padding: 1rem !important;
  background-color: var(--code-background) !important;
  border: none;
  border-radius: 0 !important;
}

main pre code,
article pre code {
  font-family: var(--font-code) !important;
  font-size: 14px !important;
  color: var(--code-foreground) !important;
  background: transparent !important;
  border: none;
}

.nextra-code span {
  font-family: var(--font-code) !important;
  font-size: 14px !important;
  color: var(--code-foreground) !important;
}

.nextra-code {
  font-family: var(--font-code) !important;
  font-size: 14px !important;
  color: var(--code-accent-background) !important;
}

main :not(pre)>code,
article :not(pre)>code {
  font-family: var(--font-code) !important;
  color: var(--code-background) !important;
  background-color: var(--code-accent) !important;
  border: none;
  border-radius: 0 !important;
}

.nextra-sidebar,
.nextra-navbar {
  border-right: 2px solid var(--table-foreground) !important;
  border-bottom: 2px solid var(--table-foreground) !important;
}

.nextra-navbar {
  border: 2px solid var(--table-foreground) !important;
}